name: Nightlies

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
        show-progress: true,

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - run: |
        dotnet restore
        dotnet build src/TTT/TTT.csproj --no-restore
        dotnet publish src/TTT/TTT.csproj --no-build --no-restore

    - uses: actions/upload-artifact@v4.0.0
      with:
        name: ttt-nightly
        path: build/TTT
        # If build didn't put any artifacts in the build folder, consider it an error
        if-no-files-found: error
  post_webhook:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/dev'

    steps:
    - name: POST Webhook
      run: |
        curl -X POST \
          --fail \
          -F token=${{ secrets.GITLAB_SECRET_TOKEN }} \
          -F ref=dev \
          https://gitlab.edgegamers.io/api/v4/projects/2640/trigger/pipeline
